body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin-top: 0;
  size: auto;
}

a {
  text-decoration: underline;
  color: #4CAF50;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


form {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#getAllNote{
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


@media screen and (min-width: 600px) {
  body {
    padding: 40px;
  }

  ul {
    max-width: 400px;
    margin: 0 auto;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }

  button {
    margin-top: 10px;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}